* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.weather {
    background-color: #E7E7E7;
    background: url('../img/weather-fon.jpg') no-repeat;
    background-position: center;
    height: 450px;
}

.weather-world {
    position: relative;
    background-color: #E7E7E7;
    background: url('../img/weather-world.png') no-repeat;
    background-position: center;
    height: 530px;
}

.weather-main {
    position: absolute;
    display: flex;
    background-color: rgba(163, 163, 163, .8);
    border-radius: 40px;
    padding: 10px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.weather-main_search {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    width: 0px;
    transition: .5s;

}

.weather-main:hover>.weather-main_search,
.weather-main>.weather-main_search:focus {
    width: 240px;
}

.weather-main_search::placeholder {
    color: #fff;
}

.weather-main_btn {
    display: flex;
    color: #fff;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    animation: radial-pulse 1s infinite;
}

.weather-main_info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1140px;
    height: 250px;
    transform: translateY(-200%);
    transition: all 1s;
}

.weather-now {
    display: flex;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
    flex-basis: 50%;
}

.weather-now-left {
    flex-basis: 50%;
}

.weather-now-right {
    flex-basis: 50%;
}

.city {
    text-align: center;
}

.time {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
}

.suffix {
    font-size: 10px;
    text-transform: uppercase;
}

.icon {
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.day {
    font-size: 28px;
    text-align: right;
    padding-top: 10px;
    line-height: 20px;
}

.day-month {
    font-size: 20px;
    font-weight: 400;
}

.forecast {
    font-weight: normal;
    text-align: right;
    padding-top: 10px;
}

.humidity {
    text-align: right;
}

.weather-week {
    background-color: rgba(0, 0, 0, .5);
    flex-basis: 50%;
}

.weather-week-day {
    display: flex;
}

.weather-day {
    color: #fff;
    flex-basis: 20%;
    font-size: 24px;
    text-align: center;
    padding: 32px 0 42px;
}

.days {
    font-weight: 700;
}

.wind-deg {
    padding-top: 20px;
}

.wind-deg i {
    display: block;
    line-height: 30px;
}

.speed {
    font-size: 40px;
}

.deg {
    font-size: 30px;
}

.city-world {
    position: absolute;
    font-weight: 700;
}

.city-world span {
    display: inline-block;
    background-color: #3341c4;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.new-york {
    top: 190px;
    left: 40%;
}

.washington {
    top: 205px;
    left: 33%;
}

.london {
    top: 165px;
    left: 46%;
}

.moscow {
    top: 155px;
    left: 56%;
}

.tokio {
    top: 235px;
    left: 66%;
}

.beijing {
    top: 200px;
    left: 62%;
}

.sydney {
    top: 400px;
    left: 67%;
}

.rio-de-janeiro {
    top: 390px;
    left: 42%;
}

.error-window {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 50px;
    transform: translate(-50%, -200%);
    transition: all .5s;
}


@media (max-width: 785px) {
    .weather {
        height: 100vh;
    }

    .weather-now,
    .weather-week {
        margin: 0 auto;
        min-width: 393px;
    }

    .weather-world {
        display: none;
    }

}


@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
    }
}